.sign-in-part {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-up-part {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sign-part{
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 900px)  {

    .sign-part{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .sign-in-part {
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }
    
    .sign-up-part {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        
     
    }

}

@media screen and (max-width: 600px)  {

    .sign-part{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 10vw;
       
    }

    .sign-in-part {
        width: 100%;
        display: flex;
       
    }
    
    .sign-up-part {
        width: 100%;
        display: flex;
        
    }

}